- name: Update all packages to the latest version (dist-upgrade)
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true

- name: Add GitHub CLI apt repository
  ansible.builtin.deb822_repository:
    name: github-cli
    types: [deb]
    uris: https://cli.github.com/packages
    suites: [stable]
    components: [main]
    architectures: "{{ ansible_architecture | replace('x86_64', 'amd64') | replace('aarch64', 'arm64') }}"
    signed_by: https://cli.github.com/packages/githubcli-archive-keyring.gpg
    state: present
    enabled: true

- name: Install required system packages
  ansible.builtin.apt:
    name:
      - snapd
      - python3-pip
      - python3-kubernetes
      - python3-k8sclient
      - acl
      - zsh
      - btop
      - broot
      - aria2
      - gh
    state: present

- name: Include SSH hardening tasks
  ansible.builtin.include_tasks: ssh_hardening.yml
