- name: Ensure common configurations are applied
  hosts: all
  become: true
  vars_files:
    - group_vars/all.yml

  roles:
    - common
    - users
    - helix
    - mise

- name: Ensure homeserver configurations are applied
  hosts: homeservers
  become: true
  vars_files:
    - group_vars/homeservers.yml

  roles:
    - github
    - downloader
    - microk8s
    - nfs
    - samba
    - syncthing

- name: Ensure tailnet is joined
  hosts: tailnet
  become: true
  vars_files:
    - group_vars/tailnet.yml

  roles:
    - tailscale
